.banner {
	background-image: url("../../images/header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vmin;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
}

.slick-carousel-slider {
	height: 70vh;
	/* width: 99vw; */
}

.slider-description {
	/* width: 100%; */
	height: 450px;
	position: absolute;
	top: 200px;
	left: 150px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.slider-description-header > p {
	font-size: 50px;
	font-weight: 700;
}

.slider-description-details > p {
	font-size: 16px;
	font-weight: 400;
	color: #504f4f;
	margin: 0 0 10px 0;
}

.slider-description-card {
	background: white;
	color: black;
	width: 450px;
	height: 135px;
	border-radius: 6px;
}

.slider-card-header {
	display: flex;
	padding: 15px;
}

.slider-card-search {
	padding: 15px;
}

.slider-input {
	outline: none;
	border: none;
	background: #f5f5f5;
	width: 300px;
	height: 40px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 600;
	padding: 0 0 0 10px;
}

.slider-delivery-button {
	background: none;
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	color: #f17228;
	width: 150px;
	height: 30px;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.4s ease;
}

a {
	text-decoration: none;
}

.slider-delivery-button > p {
	margin: 0 0 0 10px;
}

.slider-delivery-button:hover {
	background: #fef1ea;
}

.search-button {
	margin-left: 10px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background: #fc7054;
	color: white;
}

.first-button {
	margin-right: 10px;
}

.dinein {
	background: #fef1ea;
}

.slick-slider-init > button {
	display: none !important;
}

.slick-image {
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vmin;
}

.banner > h1 {
	margin: 5vmax;

	font: 600 2.5vmax "Roboto";
}

.banner > p {
	font: 300 1.4vmax "Lucida Sans";
}

.banner > a {
	margin-top: 42vmax;
	z-index: 1;
}

/* .banner::after {
	content: "";
	width: 100vw;
	height: 100vmin;
	background-color: #ffffff;
	position: absolute;
	top: 0%;
	left: 0;
	clip-path: polygon(100% 68%, 0 100%, 100% 100%);
	max-width: 100%;
} */

.homeHeading {
	text-align: center;
	font-family: Roboto;
	font-size: 1.4vmax;
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
	width: 20vmax;
	padding: 1vmax;
	margin: 0 auto;
	color: rgb(0, 0, 0, 0.7);
}

.container {
	display: flex;
	margin: 2vmax auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}

.mouse {
	width: 25px;
	height: 50px;
	border: 2px solid rgba(0, 0, 0, 0.696);
	border-radius: 20px;
	display: flex;
}

.mouse-wheel {
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgba(11, 11, 11, 0.781);
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}

@keyframes move-wheel {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(1rem);
	}
}

/* Product Styling */

.productCard {
	/* width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.4s ease;
  padding-bottom: 0.5vmax; */
}

.productCard > img {
	/* max-width: 14vmax;
  object-fit: contain; */
}

.productCard > div {
	/* margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center; */
}

.productCardSpan {
	margin: 0.5vmax;
	font: 300 0.7vmax "Roboto";
}

.productCard > p {
	font-family: "Roboto";
	font-size: 1.2vmax;
	margin: 1vmax 0.5vmax;
	margin-bottom: 0;
}

.productCard > span {
	margin: 0.5vmax;
	color: tomato;
	font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
	font-size: 1vmax;
}

.productCard:hover {
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
	transform: translateY(-1vmax);
}

/* design starts  */

.el-wrapper {
	width: 360px;
	padding: 15px;
	margin: 15px auto;
	background-color: #fff;
}

@media (max-width: 991px) {
	.el-wrapper {
		width: 345px;
	}
}

@media (max-width: 767px) {
	.el-wrapper {
		width: 290px;
		margin: 30px auto;
	}
}

.el-wrapper:hover .h-bg {
	left: 0px;
}

.el-wrapper:hover .price {
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #818181;
}

.el-wrapper:hover .add-to-cart {
	left: 50%;
}

.el-wrapper:hover .img {
	webkit-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
	opacity: 0.4;
}

.el-wrapper:hover .info-inner {
	bottom: 155px;
}

.el-wrapper:hover .a-size {
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
	bottom: 50px;
	opacity: 1;
}

.el-wrapper .box-down {
	width: 100%;
	height: 60px;
	position: relative;
	overflow: hidden;
}

.el-wrapper .box-up {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.el-wrapper .img {
	width: 14vmax;
	padding: 20px 0;
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
}

.h-bg {
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	width: 660px;
	height: 100%;
	/* background-color: #3f96cd; */
	background-color: tomato;
	position: absolute;
	left: -659px;
}

.h-bg .h-bg-inner {
	width: 50%;
	height: 100%;
	background-color: #464646;
}

.info-inner {
	-webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
	display: block;
}

.info-inner .p-name {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	color: #252525;
}

.info-inner .p-company {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #8c8c8c;
}

.a-size {
	-webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: -20px;
	font-family: "PT Sans", sans-serif;
	color: #828282;
	opacity: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.a-size .size {
	color: #252525;
}

.cart {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.cart .price {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #252525;
}

.cart .add-to-cart {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 110%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
	font-size: 12px;
	color: #fff;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	white-space: nowrap;
}

/* design ends */

@media screen and(max-width: 600px) {
	.productCard > p {
		font-size: 1.7vmax;
	}

	.productCard > div {
		margin: 0vmax;
		display: block;
	}

	.productCard > span {
		font-size: 1.5vmax;
	}

	.productCard > div > span {
		margin: 0 0.5vmax;
		font: 300 1vmax;
	}

	.productCardReactStars {
		width: 7px;
	}
	.slider-description {
		position: absolute;
		/* height: 300px; */
		top: 130px;
		left: 40px;
	}
}
